@mixin set-accordion-color($color) {
    $color-brightness: round((red($color)*299) + (green($color)*587) + calc((blue($color)*114) / 1000));
    $light-color: round((red(#ffffff)*299) + (green(#ffffff)*587) + calc((blue(#ffffff)*114) / 1000));
    .accordion-header {
        background-color: $color;
    }
    @if abs($color-brightness) < (calc($light-color / 2)){
        // dark background
        border-color: lighten($color, 5%);
        &>li {
            border-color: lighten($color, 5%);
            &.show .accordion-header {
                background-color: lighten($color, 5%);
                color: white;
            }
        }
        .accordion-header {
            color: lighten($color, 50%);
            &:hover {
                background-color: lighten($color, 5%);
                color: white;
            }
        }
    } @else {
        // light background
        border-color: darken($color, 5%);
        &>li {
            border-color: darken($color, 5%);
            &.show .accordion-header {
                background-color: darken($color, 5%);
                color: black;
            }
        }
        .accordion-header {
            color: darken($color, 40%);
            &:hover {
                background-color: darken($color, 5%);
                color: black;
            }
        }
    }
}

.accordion {
    list-style: none;
    margin: 0 0 map-get($spacers, 1);
    padding: 0;
    width: 100%;
    background: white;
    border-radius: $br;
    overflow: hidden;
    border: 1px solid transparentize(black, .85);
    &>li {
        &.show {
            .accordion-header {
                background-color: transparentize(black, .85);
                &:after {
                    transform: rotate(180deg);
                }
            }
        }
        &:not(:last-child) { border-bottom: 1px solid transparentize(black, .85); }
    }
    .accordion-header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        cursor: pointer;
        margin: 0;
        padding: map-get($spacers, 05) map-get($spacers, 075);
        color: $dark;
        background-color: $light;
        user-select: none;
        &:hover {
            background-color: transparentize(black, .85);
        }
        &:after {
            content: '\f078';
            font-family: "Font Awesome 6 Free", sans-serif;
            font-weight: 800;
            margin-left: map-get($spacers, 05);
            transition: transform .25s;
        }
        &>* { margin-bottom: 0; }
    }
    .collapse {
        height: 0;
        overflow: hidden;
    }
    .accordion-body {
        padding: map-get($spacers, 05) map-get($spacers, 075);
    }

    &.color1 { @include set-accordion-color($color1) }
    &.color2 { @include set-accordion-color($color2) }
    &.color3 { @include set-accordion-color($color3) }
    &.color4 { @include set-accordion-color($color4) }

}
