.btn {
    display: inline-block;
    background-color: transparent;
    color: $font-color;
    border: none;
    padding: $btn-padding-y $btn-padding-x;
    font-size: $btn-font-size;
    cursor: pointer;
    border-radius: $btn-border-radius;
    transition: background-color .25s;
    user-select: none;
    line-height: 1.3;
    &.btn-sm { font-size: calc($btn-font-size * 0.8) }
    &.btn-lg { font-size: calc($btn-font-size * 1.2) }
    &.btn-xl { font-size: calc($btn-font-size * 1.4) }
}

.btn-full {
    width: 100%;
}

@mixin buttonColor($color, $lighten: 20%, $saturate: 30%, $ghost: false) {
    @if( $ghost ) {
        background-color: transparent;
        color: $color;
        box-shadow: inset $color 0 0 0 2px;
        &:hover { background-color: transparentize( $color, .9 ) }
    } @else {
        background-color: $color;
        @include text-color($color);
        &:hover {
            background-color: saturate(scale-color($color, $lightness: $lighten), $saturate);
            @include text-color($color);
        }
    }
}

.btn-red {
    @include buttonColor($red);
    &.btn-ghost { @include buttonColor($red, $ghost: true) }
}
.btn-orange {
    @include buttonColor($orange);
    &.btn-ghost { @include buttonColor($orange, $ghost: true) }
}
.btn-yellow {
    @include buttonColor($yellow);
    &.btn-ghost { @include buttonColor($yellow, $ghost: true) }
}
.btn-green {
    @include buttonColor($green, $lighten: 10%, $saturate: 10%);
    &.btn-ghost { @include buttonColor($green, $ghost: true) }
}
.btn-teal {
    @include buttonColor($teal, $lighten: 10%, $saturate: 10%) ;
    &.btn-ghost { @include buttonColor($teal, $ghost: true) }
}
.btn-blue {
    @include buttonColor($blue) ;
    &.btn-ghost { @include buttonColor($blue, $ghost: true) }
}
.btn-violet {
    @include buttonColor($violet) ;
    &.btn-ghost { @include buttonColor($violet, $ghost: true) }
}
.btn-purple {
    @include buttonColor($purple) ;
    &.btn-ghost { @include buttonColor($purple, $ghost: true) }
}
.btn-dark {
    @include buttonColor($dark, $saturate: 0%) ;
    &.btn-ghost { @include buttonColor($dark, $ghost: true) }
}
.btn-black {
    @include buttonColor(black, $saturate: 0%) ;
    &.btn-ghost { @include buttonColor(black, $ghost: true) }
}
.btn-light {
    background-color: $light;
    color: $dark;
    &:hover {
        background-color: white;
        color: $dark;
    }
    &.btn-ghost {
        background-color: transparent;
        color: $light;
        box-shadow: inset $light 0 0 0 2px;
        &:hover { background-color: transparentize( $light, .9 ) }
    }
}
.btn-white {
    background-color: white;
    color: $dark;
    &:hover {
        background-color: white;
        color: $dark;
    }
    &.btn-ghost {
        background-color: transparent;
        color: white;
        box-shadow: inset white 0 0 0 2px;
        &:hover { background-color: transparentize( white, .9 ) }
    }
}

.btn-color1 {
    @include buttonColor($color1);
    &.btn-ghost { @include buttonColor($color1, $ghost: true) }
}

.btn-color2 {
    @include buttonColor($color2);
    &.btn-ghost { @include buttonColor($color2, $ghost: true) }
}

.btn-color3 {
    @include buttonColor($color3);
    &.btn-ghost { @include buttonColor($color3, $ghost: true) }
}

.btn-color4 {
    @include buttonColor($color4);
    &.btn-ghost { @include buttonColor($color4, $ghost: true) }
}

.link {
    display: inline-block;
    background-color: transparent;
    color: $dark;
    border: none;
    font-size: 1rem;
    cursor: pointer;
    border-radius: 6px;
    transition: background-color .25s;
    user-select: none;
}
