$hr-opacity: .5;

@mixin hr-style($color) {
    background-color: $color !important;
}

hr {
    display: block;
    border: none;
    margin-top: map-get($spacers, 1);
    margin-bottom: map-get($spacers, 1);
    width: 100%;
    height: 1px;
    opacity: $hr-opacity;
    background-color: $font-color;
}

.hr-red { @include hr-style($red) }
.hr-orange { @include hr-style($orange) }
.hr-yellow { @include hr-style($yellow) }
.hr-green { @include hr-style($green) }
.hr-teal { @include hr-style($teal) }
.hr-blue { @include hr-style($blue) }
.hr-violet { @include hr-style($violet) }
.hr-purple { @include hr-style($purple) }

.hr-white { @include hr-style(white) }
.hr-light { @include hr-style($light) }
.hr-grey { @include hr-style($grey) }
.hr-dark { @include hr-style($dark) }
.hr-black { @include hr-style(black) }

.hr-color1 { @include hr-style($color1) }
.hr-color2 { @include hr-style($color2) }
.hr-color3 { @include hr-style($color3) }
.hr-color4 { @include hr-style($color4) }

