$checkbox-size: calc(map-get($spacers, 1));
$input-border-width: $border-width;
$input-border-transparency: 0.5;
$input-font-size: $font-size;
$label-font-size: .8em;

.form {
    background-color: transparent;
    border-radius: $br;
    margin-bottom: map-get($spacers, 1);
    width: 100%;
    &.form-boxed {
        border: $input-border-width solid transparentize(black, $input-border-transparency);
        padding: map-get($spacers, 1);
    }
    &.text-white {
        input, textarea, select {
            color: white !important;
        }
    }
    &.text-light {
        input, textarea, select {
            color: $light !important;
        }
    }
}

.form-row {
    grid-row-gap: map-get($spacers, 05);
    margin-bottom: map-get($spacers, 05);
    &:last-child {
        margin-bottom: 0;
    }
}

label {
    display: block;
    width: 100%;
    font-size: $label-font-size;
}

@mixin input-basic {
    width: 100%;
    padding: map-get($spacers, 05) map-get($spacers, 075);
    border-radius: calc($br / 2);
    border-width: $input-border-width;
    border-color: transparentize(black, $input-border-transparency);
    border-style: solid;
    outline: none;
    font-size: $input-font-size;
    transition: border .25s;
    background-color: transparent;
    &::placeholder {
        color: darken($light, 30%);
    }
}

input {
    &[type="text"], &[type="email"], &[type="password"], &[type="number"], &[type="tel"], &[type="time"], &[type="url"], &[type="date"] {
        @include input-basic;
    }
}

/* Range input styling Chrome*/
input[type='range'] {
    width: 100%;
    box-shadow: none !important;
    border-radius: 8px;
    background-color: transparentize($dark, .9);
}
@media screen and (-webkit-min-device-pixel-ratio:0) {
    input[type='range'] {
        -webkit-appearance: none;
        overflow: hidden;
    }
    input[type='range']::-webkit-slider-thumb {
        -webkit-appearance: none;
        background: $dark;
        border-radius: 50%;
        width: 16px;
        height: 16px;
        box-shadow: -2000px 0 0 1992px transparentize($dark, .75);
    }
}
input[type='range']::-moz-range-thumb {
    background-color: $dark;
    border-radius: 50%;
    width: 16px;
    height: 16px;
    border: none;
}
input[type="range"]::-moz-range-progress {
    background-color: scale-color($dark, $lightness: 50%);
    height: 16px;
}
input[type="range"]::-ms-fill-lower { background-color: scale-color($dark, $lightness: 50%); }

textarea {
    @include input-basic;
    resize: vertical;
    font-family: sans-serif;
}

select {
    @include input-basic;
}

.form-checkbox, .form-radio {
    min-height: $checkbox-size;
    label {
        position: relative;
        padding-left: calc( $checkbox-size + ($spacing / 2) );
        padding-top: calc( ($checkbox-size - 1em) / 3 );
        margin-bottom: map-get($spacers, 05);
        &:last-child {
            margin-bottom: 0;
        }
        &:before {
            content: '';
            position: absolute;
            left: 0;
            top: 0;
            width: $checkbox-size;
            height: $checkbox-size;
            cursor: pointer;
            flex-shrink: 0;
            border: $input-border-width solid transparentize(black, $input-border-transparency);
        }
    }
    input {
        position: absolute;
        visibility: hidden;
        &:checked + label:before {
            font-family: "Font Awesome 6 Free", sans-serif;
            font-weight: 900;
            font-size: calc($checkbox-size * 0.75);
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }
}

.form-checkbox {
    label:before {
        border-radius: 6px;
    }
    input[type="checkbox"]:checked + label:before {
        content: '\f00c';
        color: white;
        background-color: $dark;
    }
}
.form-radio {
    label {
        &:before {
            border-radius: 50%;
        }
    }
    input[type="radio"]:checked + label:after {
        content: '';
        position: absolute;
        top: calc($input-border-width + 2px);
        left: calc($input-border-width + 2px);
        background-color: $dark;
        border-radius: 50%;
        width: calc($checkbox-size - 4px);
        height: calc($checkbox-size - 4px);
        cursor: pointer;
    }
}


@mixin form-color($color, $inverted: false) {
    @if( $inverted ) {
        background-color: $color;
        @include text-color($color);
        h2, h3, h4 {
            @include text-color($color);
        }
        a { color: transparentize(calc-contrast($color), .3) }
        hr { background-color: transparentize(calc-contrast($color), $input-border-transparency) }
        input, textarea, select {
            background-color: transparentize(calc-contrast($color), .9);
            border-color: transparentize(calc-contrast($color), $input-border-transparency);
            @include text-color($color);
            &::placeholder { color: transparentize(calc-contrast($color), .5)}
        }
        select {
            &>option { color: $color }
        }
        input[type='range'] {
            background-color: transparentize(calc-contrast($color), .75);
            &::-webkit-slider-thumb {
                background-color: calc-contrast($color);
                box-shadow: -2000px 0 0 1992px transparentize(calc-contrast($color), .75);
            }
            &::-moz-range-progress {
                background-color: transparentize(calc-contrast($color), .75);
                height: 16px;
            }
            &::-moz-range-thumb { background-color: calc-contrast($color); }
            &::-ms-fill-lower {
                background-color: transparentize(calc-contrast($color), .75);
            }
        }

        .form-checkbox, .form-radio {
            label:before {
                background-color: transparentize(calc-contrast($color), .9);
                border-color: transparentize(calc-contrast($color), $input-border-transparency);
            }
        }
        .form-checkbox {
            input {
                &:checked + label:before {
                    background-color: calc-contrast($color);
                    color: $color;
                    border: $input-border-width solid calc-contrast($color);
                }
            }
        }
        .form-radio {
            input {
                label:before {
                    border-color: transparentize(calc-contrast($color), $input-border-transparency);
                }
                &:checked + label {
                    &:after { background-color: calc-contrast($color); }
                    &:before { border-color: transparentize(calc-contrast($color), $input-border-transparency); }
                }
            }
        }
    } @else {
        &.form-boxed {
            border-color: transparentize($color, $input-border-transparency);
        }
        a:not(.btn), h2, h3, h4 {
            color: $color;
        }
        hr { background-color: $color }
        input, textarea, select {
            border-color: transparentize($color, $input-border-transparency);
        }
        select {
            background-color: white;
            color: $color;
            &>option { color: $color }
        }
        input[type='range'] {
            background-color: transparentize($color, .9);
            &::-webkit-slider-thumb {
                background-color: $color;
                box-shadow: -2000px 0 0 1992px transparentize($color, .75);
            }
            &::-moz-range-progress {
                background-color: transparentize($color, .75);
                height: 16px;
            }
            &::-moz-range-thumb { background-color: $color; }
            &::-ms-fill-lower {
                background-color: transparentize($color, .75);
            }
        }
        .form-checkbox {
            input:checked + label:before {
                background-color: $color;
                color: calc-contrast($color);
                border-color: $color;
            }
            label:before {
                background: transparent;
                border-color: transparentize($color, $input-border-transparency);
            }
        }
        .form-radio {
            label {
                &:before {
                    border-color: transparentize($color, $input-border-transparency);
                }
            }
            input:checked + label {
                &:before {
                    border-color: transparentize($color, $input-border-transparency);
                }
                &:after {
                    background-color: $color;
                }
            }

        }
    }
}

.form-red {
    @include form-color($red);
    &.form-inverted { @include form-color($red, $inverted: true); }
}
.form-orange {
    @include form-color($orange);
    &.form-inverted { @include form-color($orange, $inverted: true); }
}
.form-yellow {
    @include form-color($yellow);
    &.form-inverted { @include form-color($yellow, $inverted: true); }
}
.form-green {
    @include form-color($green);
    &.form-inverted { @include form-color($green, $inverted: true); }
}
.form-teal {
    @include form-color($teal);
    &.form-inverted { @include form-color($teal, $inverted: true); }
}
.form-blue {
    @include form-color($blue);
    &.form-inverted { @include form-color($blue, $inverted: true); }
}
.form-violet {
    @include form-color($violet);
    &.form-inverted { @include form-color($violet, $inverted: true); }
}
.form-purple {
    @include form-color($purple);
    &.form-inverted { @include form-color($purple, $inverted: true); }
}
.form-dark {
    @include form-color($dark);
    &.form-inverted { @include form-color($dark, $inverted: true); }
}
.form-black {
    @include form-color(black);
    &.form-inverted { @include form-color(black, $inverted: true); }
}
.form-light {
    @include form-color($light);
    &.form-inverted { @include form-color($light, $inverted: true); }
}
.form-white {
    @include form-color(white);
    &.form-inverted { @include form-color(white, $inverted: true); }
}

.form-color1 {
    @include form-color($color1);
    &.form-inverted { @include form-color($color1, $inverted: true); }
}
.form-color2 {
    @include form-color($color2);
    &.form-inverted { @include form-color($color2, $inverted: true); }
}
.form-color3 {
    @include form-color($color3);
    &.form-inverted { @include form-color($color3, $inverted: true); }
}
.form-color4 {
    @include form-color($color4);
    &.form-inverted { @include form-color($color4, $inverted: true); }
}
