@function calc-cols($col-amount) {
    $result: 1fr;
    @for $_ from 2 through $col-amount {
        $result: $result 1fr;
    }
    @return $result;
}

@function calc-contrast($color) {
    $color-brightness: round((red($color)*299) + (green($color)*587) + calc((blue($color)*114) / 1000));
    $light-color: round((red(#ffffff)*299) + (green(#ffffff)*587) + calc((blue(#ffffff)*114) / 1000));
    @if abs($color-brightness) < (calc($light-color / 2)){
        @return white;
    } @else {
        @return black;
    }
}