.grid-sm, .grid-md, .grid-lg, .grid-xl, .grid-xxl, .grid-full {
    display: grid !important;
    justify-items: start;
    align-content: start;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    padding-left: map-get($spacers, 1);
    padding-right: map-get($spacers, 1);
}

@media (min-width: $sm) {
    .grid-sm, .grid-md, .grid-lg, .grid-xl, .grid-xxl {
        &>* { grid-column: 2 }
        grid-template-columns: auto [col-start] $max-grid-sm [col-start] auto;
    }
}

@media (min-width: $md) {
    .grid-md, .grid-lg, .grid-xl, .grid-xxl {
        grid-template-columns: auto [col-start] $max-grid-md [col-start] auto;
    }
}
@media (min-width: $lg) {
    .grid-lg, .grid-xl, .grid-xxl {
        grid-template-columns: auto [col-start] $max-grid-lg [col-start] auto;
    }
}
@media (min-width: $xl) {
    .grid-xl, .grid-xxl {
        grid-template-columns: auto [col-start] $max-grid-xl [col-start] auto;
    }
}
@media (min-width: $xxl) {
    .grid-xxl {
        grid-template-columns: auto [col-start] $max-grid-xxl [col-start] auto;
    }
}

@mixin create-cols($amount) {
    grid-template-columns: repeat($amount, minmax(0, 1fr));
}

[class*="cols-"] {
    display: grid;
    grid-auto-rows: min-content;
    gap: map-get($spacers, 1);
    width: 100%;
}

.cols-2 { @include create-cols(2) }
.cols-3 { @include create-cols(3) }
.cols-4 { @include create-cols(4) }
.cols-5 { @include create-cols(5) }
.cols-6 { @include create-cols(6) }
.cols-7 { @include create-cols(7) }
.cols-8 { @include create-cols(8) }
.cols-9 { @include create-cols(9) }
.cols-10 { @include create-cols(10) }
.cols-11 { @include create-cols(11) }
.cols-12 { @include create-cols(12) }

// Span
.colspan-2 { grid-column-start: span 2; }
.colspan-3 { grid-column-start: span 3; }
.colspan-4 { grid-column-start: span 4; }
.colspan-5 { grid-column-start: span 5; }
.colspan-6 { grid-column-start: span 6; }
.colspan-7 { grid-column-start: span 7; }
.colspan-8 { grid-column-start: span 8; }
.colspan-9 { grid-column-start: span 9; }
.colspan-10 { grid-column-start: span 10; }
.colspan-11 { grid-column-start: span 11; }
.colspan-12 { grid-column-start: span 12; }

.rowspan-2 { grid-row-start: span 2; }
.rowspan-3 { grid-row-start: span 3; }
.rowspan-4 { grid-row-start: span 4; }
.rowspan-5 { grid-row-start: span 5; }
.rowspan-6 { grid-row-start: span 6; }
.rowspan-7 { grid-row-start: span 7; }
.rowspan-8 { grid-row-start: span 8; }
.rowspan-9 { grid-row-start: span 9; }
.rowspan-10 { grid-row-start: span 10; }
.rowspan-11 { grid-row-start: span 11; }
.rowspan-12 { grid-row-start: span 12; }

// Gaps
.gap-0 { gap: 0 }
.gap-025 { gap: map-get($spacers, 025) }
.gap-05 { gap: map-get($spacers, 05) }
.gap-075 { gap: map-get($spacers, 075) }
.gap-1 { gap: map-get($spacers, 1) }
.gap-2 { gap: map-get($spacers, 2) }
.gap-3 { gap: map-get($spacers, 3) }
.gap-4 { gap: map-get($spacers, 4) }

@media (min-width: $sm) {
    .cols-sm-1 { @include create-cols(1) }
    .cols-sm-2 { @include create-cols(2) }
    .cols-sm-3 { @include create-cols(3) }
    .cols-sm-4 { @include create-cols(4) }
    .cols-sm-5 { @include create-cols(5) }
    .cols-sm-6 { @include create-cols(6) }
    .cols-sm-7 { @include create-cols(7) }
    .cols-sm-8 { @include create-cols(8) }
    .cols-sm-9 { @include create-cols(9) }
    .cols-sm-10 { @include create-cols(10) }
    .cols-sm-11 { @include create-cols(11) }
    .cols-sm-12 { @include create-cols(12) }

    .colspan-sm-1 { grid-column-start: span 1; }
    .colspan-sm-2 { grid-column-start: span 2; }
    .colspan-sm-3 { grid-column-start: span 3; }
    .colspan-sm-4 { grid-column-start: span 4; }
    .colspan-sm-5 { grid-column-start: span 5; }
    .colspan-sm-6 { grid-column-start: span 6; }
    .colspan-sm-7 { grid-column-start: span 7; }
    .colspan-sm-8 { grid-column-start: span 8; }
    .colspan-sm-9 { grid-column-start: span 9; }
    .colspan-sm-10 { grid-column-start: span 10; }
    .colspan-sm-11 { grid-column-start: span 11; }
    .colspan-sm-12 { grid-column-start: span 12; }

    .rowspan-sm-1 { grid-row-start: span 1; }
    .rowspan-sm-2 { grid-row-start: span 2; }
    .rowspan-sm-3 { grid-row-start: span 3; }
    .rowspan-sm-4 { grid-row-start: span 4; }
    .rowspan-sm-5 { grid-row-start: span 5; }
    .rowspan-sm-6 { grid-row-start: span 6; }
    .rowspan-sm-7 { grid-row-start: span 7; }
    .rowspan-sm-8 { grid-row-start: span 8; }
    .rowspan-sm-9 { grid-row-start: span 9; }
    .rowspan-sm-10 { grid-row-start: span 10; }
    .rowspan-sm-11 { grid-row-start: span 11; }
    .rowspan-sm-12 { grid-row-start: span 12; }

    .gap-sm-0 { gap: 0 }
    .gap-sm-025 { gap: map-get($spacers, 025) }
    .gap-sm-05 { gap: map-get($spacers, 05) }
    .gap-sm-075 { gap: map-get($spacers, 075) }
    .gap-sm-1 { gap: map-get($spacers, 1) }
    .gap-sm-2 { gap: map-get($spacers, 2) }
    .gap-sm-3 { gap: map-get($spacers, 3) }
    .gap-sm-4 { gap: map-get($spacers, 4) }
}

@media (min-width: $md) {
    .cols-md-1 { @include create-cols(1) }
    .cols-md-2 { @include create-cols(2) }
    .cols-md-3 { @include create-cols(3) }
    .cols-md-4 { @include create-cols(4) }
    .cols-md-5 { @include create-cols(5) }
    .cols-md-6 { @include create-cols(6) }
    .cols-md-7 { @include create-cols(7) }
    .cols-md-8 { @include create-cols(8) }
    .cols-md-9 { @include create-cols(9) }
    .cols-md-10 { @include create-cols(10) }
    .cols-md-11 { @include create-cols(11) }
    .cols-md-12 { @include create-cols(12) }

    .colspan-md-1 { grid-column-start: span 1; }
    .colspan-md-2 { grid-column-start: span 2; }
    .colspan-md-3 { grid-column-start: span 3; }
    .colspan-md-4 { grid-column-start: span 4; }
    .colspan-md-5 { grid-column-start: span 5; }
    .colspan-md-6 { grid-column-start: span 6; }
    .colspan-md-7 { grid-column-start: span 7; }
    .colspan-md-8 { grid-column-start: span 8; }
    .colspan-md-9 { grid-column-start: span 9; }
    .colspan-md-10 { grid-column-start: span 10; }
    .colspan-md-11 { grid-column-start: span 11; }
    .colspan-md-12 { grid-column-start: span 12; }

    .rowspan-md-1 { grid-row-start: span 1; }
    .rowspan-md-2 { grid-row-start: span 2; }
    .rowspan-md-3 { grid-row-start: span 3; }
    .rowspan-md-4 { grid-row-start: span 4; }
    .rowspan-md-5 { grid-row-start: span 5; }
    .rowspan-md-6 { grid-row-start: span 6; }
    .rowspan-md-7 { grid-row-start: span 7; }
    .rowspan-md-8 { grid-row-start: span 8; }
    .rowspan-md-9 { grid-row-start: span 9; }
    .rowspan-md-10 { grid-row-start: span 10; }
    .rowspan-md-11 { grid-row-start: span 11; }
    .rowspan-md-12 { grid-row-start: span 12; }

    .gap-md-0 { gap: 0 }
    .gap-md-025 { gap: map-get($spacers, 025) }
    .gap-md-05 { gap: map-get($spacers, 05) }
    .gap-md-075 { gap: map-get($spacers, 075) }
    .gap-md-1 { gap: map-get($spacers, 1) }
    .gap-md-2 { gap: map-get($spacers, 2) }
    .gap-md-3 { gap: map-get($spacers, 3) }
    .gap-md-4 { gap: map-get($spacers, 4) }
}

@media (min-width: $lg) {
    .cols-lg-1 { @include create-cols(1) }
    .cols-lg-2 { @include create-cols(2) }
    .cols-lg-3 { @include create-cols(3) }
    .cols-lg-4 { @include create-cols(4) }
    .cols-lg-5 { @include create-cols(5) }
    .cols-lg-6 { @include create-cols(6) }
    .cols-lg-7 { @include create-cols(7) }
    .cols-lg-8 { @include create-cols(8) }
    .cols-lg-9 { @include create-cols(9) }
    .cols-lg-10 { @include create-cols(10) }
    .cols-lg-11 { @include create-cols(11) }
    .cols-lg-12 { @include create-cols(12) }

    .colspan-lg-1 { grid-column-start: span 1; }
    .colspan-lg-2 { grid-column-start: span 2; }
    .colspan-lg-3 { grid-column-start: span 3; }
    .colspan-lg-4 { grid-column-start: span 4; }
    .colspan-lg-5 { grid-column-start: span 5; }
    .colspan-lg-6 { grid-column-start: span 6; }
    .colspan-lg-7 { grid-column-start: span 7; }
    .colspan-lg-8 { grid-column-start: span 8; }
    .colspan-lg-9 { grid-column-start: span 9; }
    .colspan-lg-10 { grid-column-start: span 10; }
    .colspan-lg-11 { grid-column-start: span 11; }
    .colspan-lg-12 { grid-column-start: span 12; }

    .rowspan-lg-1 { grid-row-start: span 1; }
    .rowspan-lg-2 { grid-row-start: span 2; }
    .rowspan-lg-3 { grid-row-start: span 3; }
    .rowspan-lg-4 { grid-row-start: span 4; }
    .rowspan-lg-5 { grid-row-start: span 5; }
    .rowspan-lg-6 { grid-row-start: span 6; }
    .rowspan-lg-7 { grid-row-start: span 7; }
    .rowspan-lg-8 { grid-row-start: span 8; }
    .rowspan-lg-9 { grid-row-start: span 9; }
    .rowspan-lg-10 { grid-row-start: span 10; }
    .rowspan-lg-11 { grid-row-start: span 11; }
    .rowspan-lg-12 { grid-row-start: span 12; }

    .gap-lg-0 { gap: 0 }
    .gap-lg-025 { gap: map-get($spacers, 025) }
    .gap-lg-05 { gap: map-get($spacers, 05) }
    .gap-lg-075 { gap: map-get($spacers, 075) }
    .gap-lg-1 { gap: map-get($spacers, 1) }
    .gap-lg-2 { gap: map-get($spacers, 2) }
    .gap-lg-3 { gap: map-get($spacers, 3) }
    .gap-lg-4 { gap: map-get($spacers, 4) }
}

@media (min-width: $xl) {
    .cols-xl-1 { @include create-cols(1) }
    .cols-xl-2 { @include create-cols(2) }
    .cols-xl-3 { @include create-cols(3) }
    .cols-xl-4 { @include create-cols(4) }
    .cols-xl-5 { @include create-cols(5) }
    .cols-xl-6 { @include create-cols(6) }
    .cols-xl-7 { @include create-cols(7) }
    .cols-xl-8 { @include create-cols(8) }
    .cols-xl-9 { @include create-cols(9) }
    .cols-xl-10 { @include create-cols(10) }
    .cols-xl-11 { @include create-cols(11) }
    .cols-xl-12 { @include create-cols(12) }

    .colspan-xl-1 { grid-column-start: span 1; }
    .colspan-xl-2 { grid-column-start: span 2; }
    .colspan-xl-3 { grid-column-start: span 3; }
    .colspan-xl-4 { grid-column-start: span 4; }
    .colspan-xl-5 { grid-column-start: span 5; }
    .colspan-xl-6 { grid-column-start: span 6; }
    .colspan-xl-7 { grid-column-start: span 7; }
    .colspan-xl-8 { grid-column-start: span 8; }
    .colspan-xl-9 { grid-column-start: span 9; }
    .colspan-xl-10 { grid-column-start: span 10; }
    .colspan-xl-11 { grid-column-start: span 11; }
    .colspan-xl-12 { grid-column-start: span 12; }

    .rowspan-xl-1 { grid-row-start: span 1; }
    .rowspan-xl-2 { grid-row-start: span 2; }
    .rowspan-xl-3 { grid-row-start: span 3; }
    .rowspan-xl-4 { grid-row-start: span 4; }
    .rowspan-xl-5 { grid-row-start: span 5; }
    .rowspan-xl-6 { grid-row-start: span 6; }
    .rowspan-xl-7 { grid-row-start: span 7; }
    .rowspan-xl-8 { grid-row-start: span 8; }
    .rowspan-xl-9 { grid-row-start: span 9; }
    .rowspan-xl-10 { grid-row-start: span 10; }
    .rowspan-xl-11 { grid-row-start: span 11; }
    .rowspan-xl-12 { grid-row-start: span 12; }

    .gap-xl-0 { gap: 0 }
    .gap-xl-025 { gap: map-get($spacers, 025) }
    .gap-xl-05 { gap: map-get($spacers, 05) }
    .gap-xl-075 { gap: map-get($spacers, 075) }
    .gap-xl-1 { gap: map-get($spacers, 1) }
    .gap-xl-2 { gap: map-get($spacers, 2) }
    .gap-xl-3 { gap: map-get($spacers, 3) }
    .gap-xl-4 { gap: map-get($spacers, 4) }
}

@media (min-width: $xxl) {
    .cols-xxl-1 { @include create-cols(1) }
    .cols-xxl-2 { @include create-cols(2) }
    .cols-xxl-3 { @include create-cols(3) }
    .cols-xxl-4 { @include create-cols(4) }
    .cols-xxl-5 { @include create-cols(5) }
    .cols-xxl-6 { @include create-cols(6) }
    .cols-xxl-7 { @include create-cols(7) }
    .cols-xxl-8 { @include create-cols(8) }
    .cols-xxl-9 { @include create-cols(9) }
    .cols-xxl-10 { @include create-cols(10) }
    .cols-xxl-11 { @include create-cols(11) }
    .cols-xxl-12 { @include create-cols(12) }

    .colspan-xxl-1 { grid-column-start: span 1; }
    .colspan-xxl-2 { grid-column-start: span 2; }
    .colspan-xxl-3 { grid-column-start: span 3; }
    .colspan-xxl-4 { grid-column-start: span 4; }
    .colspan-xxl-5 { grid-column-start: span 5; }
    .colspan-xxl-6 { grid-column-start: span 6; }
    .colspan-xxl-7 { grid-column-start: span 7; }
    .colspan-xxl-8 { grid-column-start: span 8; }
    .colspan-xxl-9 { grid-column-start: span 9; }
    .colspan-xxl-10 { grid-column-start: span 10; }
    .colspan-xxl-11 { grid-column-start: span 11; }
    .colspan-xxl-12 { grid-column-start: span 12; }

    .rowspan-xxl-1 { grid-row-start: span 1; }
    .rowspan-xxl-2 { grid-row-start: span 2; }
    .rowspan-xxl-3 { grid-row-start: span 3; }
    .rowspan-xxl-4 { grid-row-start: span 4; }
    .rowspan-xxl-5 { grid-row-start: span 5; }
    .rowspan-xxl-6 { grid-row-start: span 6; }
    .rowspan-xxl-7 { grid-row-start: span 7; }
    .rowspan-xxl-8 { grid-row-start: span 8; }
    .rowspan-xxl-9 { grid-row-start: span 9; }
    .rowspan-xxl-10 { grid-row-start: span 10; }
    .rowspan-xxl-11 { grid-row-start: span 11; }
    .rowspan-xxl-12 { grid-row-start: span 12; }

    .gap-xxl-0 { gap: 0 }
    .gap-xxl-025 { gap: map-get($spacers, 025) }
    .gap-xxl-05 { gap: map-get($spacers, 05) }
    .gap-xxl-075 { gap: map-get($spacers, 075) }
    .gap-xxl-1 { gap: map-get($spacers, 1) }
    .gap-xxl-2 { gap: map-get($spacers, 2) }
    .gap-xxl-3 { gap: map-get($spacers, 3) }
    .gap-xxl-4 { gap: map-get($spacers, 4) }
}





