// Colors
.bg-color1 { background-color: $color1 !important }
.bg-color2 { background-color: $color2 !important }
.bg-color3 { background-color: $color3 !important }
.bg-color4 { background-color: $color4 !important }

.bg-red { background-color: $red !important }
.bg-orange { background-color: $orange !important }
.bg-yellow { background-color: $yellow !important }
.bg-green { background-color: $green !important }
.bg-teal { background-color: $teal !important }
.bg-blue { background-color: $blue !important }
.bg-violet { background-color: $violet !important }
.bg-purple { background-color: $purple !important }
.bg-dark { background-color: $dark !important }
.bg-black { background-color: black !important }
.bg-grey { background-color: $grey !important }
.bg-light { background-color: $light !important }
.bg-white { background-color: white !important }

.text-color1 { color: $color1 !important }
.text-color2 { color: $color2 !important }
.text-color3 { color: $color3 !important }
.text-color4 { color: $color4 !important }

.text-red { color: $red !important }
.text-orange { color: $orange !important }
.text-yellow { color: $yellow !important }
.text-green { color: $green !important }
.text-teal { color: $teal !important }
.text-blue { color: $blue !important }
.text-violet { color: $violet !important }
.text-purple { color: $purple !important }
.text-dark { color: $dark !important }
.text-black { color: black !important }
.text-grey { color: $grey !important }
.text-light { color: $light !important }
.text-white { color: white !important }

// Gradients
.grad-color1 { background: linear-gradient( 140deg, $color1, adjust-hue($color1, -40deg) ) !important }
.grad-color2 { background: linear-gradient( 140deg, $color2, adjust-hue($color2, -40deg) ) !important }
.grad-color3 { background: linear-gradient( 140deg, $color3, adjust-hue($color3, -40deg) ) !important }
.grad-color4 { background: linear-gradient( 140deg, $color4, adjust-hue($color4, -40deg) ) !important }

// Typography
.lead { font-size: 1.2em }

// Alignment
.text-center { text-align: center !important }
.text-left { text-align: left !important }
.text-right { text-align: right !important }
.align-top { align-content: start !important }
.align-middle { align-content: center !important }
.align-bottom { align-content: end !important }

// Spacing & Borders
.w-100 { width: 100% !important }
.h-100 { height: 100% !important }

.vh-25 { min-height: 25vh !important }
.vh-33 { min-height: 33vh !important }
.vh-50 { min-height: 50vh !important }
.vh-66 { min-height: 66vh !important }
.vh-75 { min-height: 75vh !important }
.vh-100 { min-height: 100vh !important }

.b-0 { border: none !important; }
.b-1 {
    border-style: solid !important;
    border-width: 1px !important;
}
.b-2 {
    border-style: solid !important;
    border-width: 2px !important;
}

.br-sm { border-radius: $br / 2 !important }
.br { border-radius: $br !important }
.br-lg { border-radius: $br * 1.5 !important }

// Shadow
.shadow-sm { box-shadow: transparentize(black, .5) 0 8px 16px; }
.shadow { box-shadow: transparentize(black, .5) 0 15px 30px; }
.shadow-lg { box-shadow: transparentize(black, .6) 0 50px 60px -20px, transparentize(black, .66) 0 10px 20px; }

.p-0 { padding: 0 !important; }
.p-05 { padding: $spacing / 2 !important; }
.p-1 { padding: $spacing !important; }
.p-2 { padding: $spacing * 2 !important; }
.p-3 { padding: $spacing * 3 !important; }
.p-4 { padding: $spacing * 4 !important; }
.p-5 { padding: $spacing * 5 !important; }

.pt-0 { padding-top: 0 !important; }
.pt-05 { padding-top: $spacing / 2 !important; }
.pt-1 { padding-top: $spacing !important; }
.pt-2 { padding-top: $spacing * 2 !important; }
.pt-3 { padding-top: $spacing * 3 !important; }
.pt-4 { padding-top: $spacing * 4 !important; }
.pt-5 { padding-top: $spacing * 5 !important; }

.pb-0 { padding-bottom: 0 !important; }
.pb-05 { padding-bottom: $spacing / 2 !important; }
.pb-1 { padding-bottom: $spacing !important; }
.pb-2 { padding-bottom: $spacing * 2 !important; }
.pb-3 { padding-bottom: $spacing * 3 !important; }
.pb-4 { padding-bottom: $spacing * 4 !important; }
.pb-5 { padding-bottom: $spacing * 5 !important; }

.py-0 { padding-top: 0; padding-bottom: 0 !important; }
.py-05 { padding-top: $spacing / 2 !important; padding-bottom: $spacing / 2 !important; }
.py-1 { padding-top: $spacing !important; padding-bottom: $spacing !important; }
.py-2 { padding-top: $spacing * 2 !important; padding-bottom: $spacing * 2 !important; }
.py-3 { padding-top: $spacing * 3 !important; padding-bottom: $spacing * 3 !important; }
.py-4 { padding-top: $spacing * 4 !important; padding-bottom: $spacing * 4 !important; }
.py-5 { padding-top: $spacing * 5 !important; padding-bottom: $spacing * 5 !important; }

.pl-0 { padding-left: 0 !important; }
.pl-05 { padding-left: $spacing / 2 !important; }
.pl-1 { padding-left: $spacing !important; }
.pl-2 { padding-left: $spacing * 2 !important; }
.pl-3 { padding-left: $spacing * 3 !important; }
.pl-4 { padding-left: $spacing * 4 !important; }
.pl-5 { padding-left: $spacing * 5 !important; }

.pr-0 { padding-right: 0 !important; }
.pr-05 { padding-right: $spacing / 2 !important; }
.pr-1 { padding-right: $spacing !important; }
.pr-2 { padding-right: $spacing * 2 !important; }
.pr-3 { padding-right: $spacing * 3 !important; }
.pr-4 { padding-right: $spacing * 4 !important; }
.pr-5 { padding-right: $spacing * 5 !important; }

.px-0 { padding-left: 0 !important; padding-right: 0 !important; }
.px-05 { padding-left: $spacing / 2 !important; padding-right: $spacing / 2 !important; }
.px-1 { padding-left: $spacing !important; padding-right: $spacing !important; }
.px-2 { padding-left: $spacing * 2 !important; padding-right: $spacing * 2 !important; }
.px-3 { padding-left: $spacing * 3 !important; padding-right: $spacing * 3 !important; }
.px-4 { padding-left: $spacing * 4 !important; padding-right: $spacing * 4 !important; }
.px-5 { padding-left: $spacing * 5 !important; padding-right: $spacing * 5 !important; }

.m-0 { margin: 0 !important; }
.m-05 { margin: $spacing / 2 !important; }
.m-1 { margin: $spacing !important; }
.m-2 { margin: $spacing * 2 !important; }
.m-3 { margin: $spacing * 3 !important; }
.m-4 { margin: $spacing * 4 !important; }
.m-5 { margin: $spacing * 5 !important; }

.mt-0 { margin-top: 0 !important; }
.mt-05 { margin-top: $spacing / 2 !important; }
.mt-1 { margin-top: $spacing !important; }
.mt-2 { margin-top: $spacing * 2 !important; }
.mt-3 { margin-top: $spacing * 3 !important; }
.mt-4 { margin-top: $spacing * 4 !important; }
.mt-5 { margin-top: $spacing * 5 !important; }

.mb-0 { margin-bottom: 0 !important; }
.mb-05 { margin-bottom: $spacing / 2 !important; }
.mb-1 { margin-bottom: $spacing !important; }
.mb-2 { margin-bottom: $spacing * 2 !important; }
.mb-3 { margin-bottom: $spacing * 3 !important; }
.mb-4 { margin-bottom: $spacing * 4 !important; }
.mb-5 { margin-bottom: $spacing * 5 !important; }

.my-0 { margin-top: 0 !important; margin-bottom: 0 !important; }
.my-05 { margin-top: $spacing / 2 !important; margin-bottom: $spacing / 2 !important; }
.my-1 { margin-top: $spacing !important; margin-bottom: $spacing !important; }
.my-2 { margin-top: $spacing * 2 !important; margin-bottom: $spacing * 2 !important; }
.my-3 { margin-top: $spacing * 3 !important; margin-bottom: $spacing * 3 !important; }
.my-4 { margin-top: $spacing * 4 !important; margin-bottom: $spacing * 4 !important; }
.my-5 { margin-top: $spacing * 5 !important; margin-bottom: $spacing * 5 !important; }

.ml-0 { margin-left: 0 !important; }
.ml-05 { margin-left: $spacing / 2 !important; }
.ml-1 { margin-left: $spacing !important; }
.ml-2 { margin-left: $spacing * 2 !important; }
.ml-3 { margin-left: $spacing * 3 !important; }
.ml-4 { margin-left: $spacing * 4 !important; }
.ml-5 { margin-left: $spacing * 5 !important; }

.mr-0 { margin-right: 0 !important; }
.mr-05 { margin-right: $spacing / 2 !important; }
.mr-1 { margin-right: $spacing !important; }
.mr-2 { margin-right: $spacing * 2 !important; }
.mr-3 { margin-right: $spacing * 3 !important; }
.mr-4 { margin-right: $spacing * 4 !important; }
.mr-5 { margin-right: $spacing * 5 !important; }

.mx-0 { margin-left: 0 !important; margin-right: 0 !important; }
.mx-05 { margin-left: $spacing / 2 !important; margin-right: $spacing / 2 !important; }
.mx-1 { margin-left: $spacing !important; margin-right: $spacing !important; }
.mx-2 { margin-left: $spacing * 2 !important; margin-right: $spacing * 2 !important; }
.mx-3 { margin-left: $spacing * 3 !important; margin-right: $spacing * 3 !important; }
.mx-4 { margin-left: $spacing * 4 !important; margin-right: $spacing * 4 !important; }
.mx-5 { margin-left: $spacing * 5 !important; margin-right: $spacing * 5 !important; }

// Images
.cover, .contain {
    width: 100%;
    height: 100%;
    object-position: center;
}
.cover { object-fit: cover; }
.contain { object-fit: contain; }
