@use 'sass:color';

$iconFontSize: 24px;

@mixin msg-color($color) {
    background: linear-gradient(160deg, color.change($color, $lightness: 90%), color.change($color, $lightness: 80%) );
    color: color.change($color, $lightness: 40%);
}

.msg {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: $spacing;
    border-radius: $br;
    margin-bottom: $spacing;
    @include msg-color($dark);
    @media (min-width: $sm) {
        flex-direction: row;
    }
}

.msg-icon {
    display: flex;
    flex-shrink: 0;
    justify-content: center;
    align-items: center;
    align-self: center;
    font-size: $iconFontSize;
    margin-bottom: $spacing;
    &.border {
        box-shadow: inset 0 0 0 1px;
        width: $iconFontSize * 2;
        height: $iconFontSize * 2;
        &+.msg-content {
            border-top: 1px solid;
            padding-top: $spacing;
        }
    }
    &.circle {
        width: $iconFontSize * 2;
        height: $iconFontSize * 2;
        border-radius: 50%;
    }
    @media (min-width: $sm) {
        margin-right: $spacing;
        margin-bottom: 0;
        &.border+.msg-content {
            border-top: none;
            padding-top: 0;
            border-left: 1px solid;
            padding-left: $spacing;
        }
    }
}
.msg-color1 { @include msg-color($color1) }
.msg-color2 { @include msg-color($color2) }
.msg-color3 { @include msg-color($color3) }
.msg-color4 { @include msg-color($color4) }

.msg-red { @include msg-color($red) }
.msg-orange { @include msg-color($orange) }
.msg-yellow { @include msg-color($yellow) }
.msg-green { @include msg-color($green) }
.msg-teal { @include msg-color($teal) }
.msg-blue { @include msg-color($blue) }
.msg-violet { @include msg-color($violet) }
.msg-purple { @include msg-color($purple) }
.msg-dark {
    background: linear-gradient(160deg, color.change($dark, $lightness: 30%), color.change($dark, $lightness: 10%) );
    color: color.change($dark, $lightness: 80%);
}
.msg-light {
    background: linear-gradient(160deg, color.change($dark, $lightness: 95%), color.change($dark, $lightness: 90%) );
    color: color.change($dark, $lightness: 40%);
}