@use 'sass:color';

@mixin text-color($color) {
    $color-brightness: round((red($color)*299) + (green($color)*587) + calc((blue($color)*114) / 1000));
    $light-color: round((red(#ffffff)*299) + (green(#ffffff)*587) + calc((blue(#ffffff)*114) / 1000));
    @if abs($color-brightness) < (calc($light-color / 2)){
        color: white;
    } @else {
        color: black;
    }
}