.modal {
    position: fixed;
    z-index: 99;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    background-color: transparentize(black, .6);
    visibility: hidden;
    opacity: 0;
    transition: all .25s;
    &.show {
        visibility: visible;
        opacity: 1;
        .modal-inner {
            transform: none;
        }
    }
    &.modal-sm {
        .modal-inner {
            max-width: $sm;
        }
    }
    &.modal-md {
        .modal-inner {
            max-width: $md;
        }
    }
    &.modal-lg {
        .modal-inner {
            max-width: $lg;
        }
    }
    &.modal-xl {
        .modal-inner {
            max-width: $xl;
        }
    }
    &.modal-xxl {
        .modal-inner {
            max-width: $xxl;
        }
    }
}

.modal-inner {
    margin: 60px auto;
    width: 100%;
    padding-left: $spacing;
    padding-right: $spacing;
    transform: translateY(-30px);
    transition: all .25s;
}

.modal-content {
    background-color: white;
    border-radius: $br;
    padding: $spacing;
    overflow: hidden;
}

.modal-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: $spacing;
    &>* { margin: 0 }
    &>.modal-close {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-shrink: 0;
        padding: 0;
        width: 30px;
        height: 30px;
        margin-left: auto;
        &:before, &:after {
            content: '';
            position: absolute;
            display: block;
            background-color: $dark;
            height: 2px;
            border-radius: 1px;
            width: 20px;
        }
        &:before { transform: rotate(45deg); }
        &:after { transform: rotate(-45deg); }
    }
}

.modal-body {
    margin-bottom: $spacing
}

.modal-footer {
    &>* { margin: 0 }
}
