.nav {
    position: relative;
    box-shadow: 0 1px 4px transparentize(black, .8);
}

.nav-fixed {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    width: 100%;
}

.nav-dark {
    .logo, .nav-toggle, .nav-wrap {
        color: $light;
    }
}

@mixin nav-expand {
    .nav-toggle { display: none }
    .nav-collapse {
        width: auto;
        height: auto;
        display: flex;
        align-items: center;
        flex-grow: 1;
        overflow: visible;
    }
    .navbar { flex-direction: row }
    .navbar-right {
        justify-content: flex-end;
        flex-grow: 1;
        .dropdown {
            &>ul {
                right: 0;
                left: auto;
            }
        }
    }
}

@media (min-width: $sm) {
    .expand-sm { @include nav-expand; }
}
@media (min-width: $md) {
    .expand-md { @include nav-expand; }
}
@media (min-width: $lg) {
    .expand-lg { @include nav-expand; }
}
@media (min-width: $xl) {
    .expand-xl { @include nav-expand; }
}
@media (min-width: $xxl) {
    .expand-xxl { @include nav-expand; }
}

.nav-wrap {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

.navbar {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    &>li {
        a {
            display: inline-block;
            padding: 8px 20px;
        }
    }
}

.navbar-column {
    flex-direction: column;
    &>li {
        &>a {
            padding: 8px 0;
        }
    }
}

.nav-collapse {
    width: 100%;
    height: 0;
    overflow: hidden;
    &.open {
        height: auto;
    }
}

.logo {
    display: flex;
    align-items: center;
    font-weight: bold;
    padding: 8px 0;
    font-size: 18px;
    color: $dark;
    &>img {
        max-height: 80px;
        margin-right: 12px;
    }
}

.nav-toggle {
    margin-left: auto;
    padding: 8px 14px;
}

.megamenu {
    padding-top: 20px;
    padding-bottom: 20px;
    max-height: calc(100vh - 80px);
    overflow: auto;
}

.dropdown {
    position: relative;
    cursor: pointer;
    &.show {
        &>ul {
            opacity: 1;
            visibility: visible;
            pointer-events: all;
            transform: translateY(-20px);
            transition: all .5s cubic-bezier(0, 0, 0.10, 1);
        }
    }
    ul {
        list-style: none;
        margin: 30px 0 0 0;
        position: absolute;
        z-index: 0;
        top: 100%;
        left: 0;
        overflow: hidden;
        opacity: 0;
        visibility: hidden;
        pointer-events: none;
        padding-left: 0;
        transform: translateY(0);
        transition: all .2s ease-in;
        &>li {
            &>a {
                display: block;
                white-space: nowrap;
            }
        }
    }
}