* { box-sizing: border-box; }

body {
    font-family: $font-body;
    color: $font-color;
    font-size: $font-size;
    line-height: 1.6;
    margin: 0;
    &.no-scroll { overflow: hidden; }

}

a {
    text-decoration: none;
    color: $color1;
}

p {
    margin-top: 0;
}

img {
    max-width: 100%;
}

h1, h2, h3, h4, h5, h6 {
    margin-top: 0;
}
