$table-pad-x: map-get($spacers, 1);
$table-pad-y: map-get($spacers, 05);
$table-border-width: 1px;
$table-border-transparency: 0.5;

.table {
    border-spacing: 0;
    width: 100%;
    border: $table-border-width solid transparentize(black, $table-border-transparency);
    background-color: white;
    border-radius: $br;
    overflow: hidden;
    font-size: .8em;
    tr {
        &:hover .table-nav {
            position: static;
        }
        &:last-child {
            td { border-bottom: none; }
        }
    }
    th {
        font-weight: bold;
        padding: $table-pad-y calc($table-pad-x / 2);
        &:first-child { padding-left: $table-pad-x }
        &:last-child { padding-right: $table-pad-x }
    }
    td {
        vertical-align: top;
        border-bottom: $table-border-width solid transparentize(black, $table-border-transparency);
        padding: $table-pad-y calc($table-pad-x / 2);
        &:first-child { padding-left: $table-pad-x }
        &:last-child { padding-right: $table-pad-x }
    }
    thead {
        text-align: left;
        th { border-bottom: $table-border-width solid transparentize(black, $table-border-transparency); }
        tr {background-color: darken(white, 10%);}
    }
    .title {
        &>strong {
            display: block;
            margin-bottom: 8px;
        }
    }
    .table-nav {
        position: relative;
        display: flex;
        left: -9999px;
        a, .link {
            font-size: .8em;
            display: block;
            margin-right: $spacing;
        }
    }
    .table-mobile {
        font-size: .9em;
        td {
            position: relative;
            display: flex;
            padding-left: calc(35% + #{$spacing/2});
            padding-right: calc($spacing / 2);
            &:not(:last-child) {
                border-bottom: none;
            }
            &:before {
                content: attr(data-colname);
                box-sizing: border-box;
                position: absolute;
                top: 0;
                left: 0;
                height: 100%;
                padding-left: calc($spacing / 2);
                padding-right: calc($spacing / 2);
                display: flex;
                align-items: center;
                flex-shrink: 0;
                width: 35%;
                overflow: hidden;
                background: $light;
                font-weight: bold;
            }
        }
        .table-nav { display: none }
    }
    @media (min-width: $md) {
        font-size: 1rem;
    }
}

.table-hover tbody tr:hover {
    background-color: transparentize(black, .95);
}

// Color variants
@mixin tableColor($color, $inverted: false) {
    @if( $inverted ) {
        background-color: $color;
        color: $light;
        border: $table-border-width solid transparentize(white, $table-border-transparency);
        a:not(.btn) { color: white; }
        td { border-bottom: $table-border-width solid transparentize(white, $table-border-transparency); }
        thead {
            th {
                border-bottom: $table-border-width solid transparentize(white, $table-border-transparency);
                color: white;
            }
            tr { background-color: lighten($color, 10%); }
        }
        &.table-hover tbody tr:hover {
            background-color: transparentize(white, .95);
        }
    } @else {
        border: $table-border-width solid transparentize($color, $table-border-transparency);
        a:not(.btn) { color: $color; }
        td { border-bottom: $table-border-width solid transparentize($color, $table-border-transparency); }
        thead {
            th {
                border-bottom: none;
                color: white;
            }
            tr { background-color: $color; }
        }
        &.table-hover tbody tr:hover {
            background-color: transparentize($color, .9);
        }
        @media (max-width: $md - 1) {
            td:before {
                background: $color;
                color: white;
            }
        }
    }
}

.table-red {
    @include tableColor($red);
    &.table-inverted { @include tableColor($red, $inverted: true); }
}
.table-orange {
    @include tableColor($orange);
    &.table-inverted { @include tableColor($orange, $inverted: true); }
}
.table-yellow {
    @include tableColor($yellow);
    &.table-inverted { @include tableColor($yellow, $inverted: true); }
}
.table-green {
    @include tableColor($green);
    &.table-inverted { @include tableColor($green, $inverted: true); }
}
.table-teal {
    @include tableColor($teal);
    &.table-inverted { @include tableColor($teal, $inverted: true); }
}
.table-blue {
    @include tableColor($blue);
    &.table-inverted { @include tableColor($blue, $inverted: true); }
}
.table-violet {
    @include tableColor($violet);
    &.table-inverted { @include tableColor($violet, $inverted: true); }
}
.table-purple {
    @include tableColor($purple);
    &.table-inverted { @include tableColor($purple, $inverted: true); }
}
.table-dark {
    @include tableColor($dark);
    &.table-inverted { @include tableColor($dark, $inverted: true); }
}

.table-color1 {
    @include tableColor($color1);
    &.table-inverted { @include tableColor($color1, $inverted: true); }
}
.table-color2 {
    @include tableColor($color2);
    &.table-inverted { @include tableColor($color2, $inverted: true); }
}
.table-color3 {
    @include tableColor($color3);
    &.table-inverted { @include tableColor($color3, $inverted: true); }
}
.table-color4 {
    @include tableColor($color4);
    &.table-inverted { @include tableColor($color4, $inverted: true); }
}
