.tiles {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    margin-left: -$spacing;
    margin-right: -$spacing;
    &.gap-0 {
        margin-left: 0;
        margin-right: 0;
        &>[class^="tile-"] {
            padding-left: 0;
            padding-right: 0;
            margin-bottom: 0;
        }
    }
    &.gap-05 {
        margin-left: -$spacing / 4;
        margin-right: -$spacing / 4;
        &>[class^="tile-"] {
            padding-left: $spacing / 4;
            padding-right: $spacing / 4;
            margin-bottom: $spacing / 2;
        }
    }
    &.gap-1 {
        margin-left: -$spacing / 2;
        margin-right: -$spacing / 2;
        &>[class^="tile-"] {
            padding-left: $spacing / 2;
            padding-right: $spacing / 2;
            margin-bottom: $spacing;
        }
    }
    &.gap-2 {
        margin-left: -$spacing;
        margin-right: -$spacing;
        &>[class^="tile-"] {
            padding-left: $spacing;
            padding-right: $spacing;
            margin-bottom: $spacing * 2;
        }
    }
    &.gap-3 {
        margin-left: -$spacing;
        margin-right: -$spacing;
        &>[class^="tile-"] {
            padding-left: $spacing * 1.5;
            padding-right: $spacing * 1.5;
            margin-bottom: $spacing * 3;
        }
    }
    &.tiles-square {
        &>[class^="tile-"] {
            &>.tile-inner {
                &:before {
                    content: '';
                    display: block;
                    padding-bottom: 100%;
                }
                &>.tile-content {
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                }
            }
        }
    }
    &.tiles-dark>[class^="tile-"]>.tile-inner>.tile-content {
        color: white;
    }
    &>[class^="tile-"] {
        &>.tile-inner {
            position: relative;
            z-index: 1;
            height: 100%;
            overflow: hidden;
            &>.tile-content {
                color: $dark;
                padding: $spacing;
                display: flex;
                justify-content: center;
                align-items: center;
                text-align: center;
                &>.tile-bg-img {
                    position: absolute;
                    z-index: -1;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }
            &>a.tile-content {
                &>.tile-bg-img {
                    opacity: .8;
                    transition: all .25s;
                }
                &:hover {
                    &>.tile-bg-img {
                        opacity: 1;
                        transform: scale(1.1);
                    }
                }
            }
        }
    }
}

[class^="tile-"] { width: 100%; }

.tile-1 { width: 100% / 12 }
.tile-2 { width: 100% / 12 * 2 }
.tile-3 { width: 100% / 12 * 3 }
.tile-4 { width: 100% / 12 * 4 }
.tile-5 { width: 100% / 12 * 5 }
.tile-6 { width: 100% / 12 * 6 }
.tile-7 { width: 100% / 12 * 7 }
.tile-8 { width: 100% / 12 * 8 }
.tile-9 { width: 100% / 12 * 9 }
.tile-10 { width: 100% / 12 * 10 }
.tile-11 { width: 100% / 12 * 11 }
.tile-12 { width: 100% / 12 * 12 }

@media (min-width: $sm) {
    .tile-sm-1 { width: 100% / 12 }
    .tile-sm-2 { width: 100% / 12 * 2 }
    .tile-sm-3 { width: 100% / 12 * 3 }
    .tile-sm-4 { width: 100% / 12 * 4 }
    .tile-sm-5 { width: 100% / 12 * 5 }
    .tile-sm-6 { width: 100% / 12 * 6 }
    .tile-sm-7 { width: 100% / 12 * 7 }
    .tile-sm-8 { width: 100% / 12 * 8 }
    .tile-sm-9 { width: 100% / 12 * 9 }
    .tile-sm-10 { width: 100% / 12 * 10 }
    .tile-sm-11 { width: 100% / 12 * 11 }
    .tile-sm-12 { width: 100% / 12 * 12 }
}

@media (min-width: $md) {
    .tile-md-1 { width: 100% / 12 }
    .tile-md-2 { width: 100% / 12 * 2 }
    .tile-md-3 { width: 100% / 12 * 3 }
    .tile-md-4 { width: 100% / 12 * 4 }
    .tile-md-5 { width: 100% / 12 * 5 }
    .tile-md-6 { width: 100% / 12 * 6 }
    .tile-md-7 { width: 100% / 12 * 7 }
    .tile-md-8 { width: 100% / 12 * 8 }
    .tile-md-9 { width: 100% / 12 * 9 }
    .tile-md-10 { width: 100% / 12 * 10 }
    .tile-md-11 { width: 100% / 12 * 11 }
    .tile-md-12 { width: 100% / 12 * 12 }
}

@media (min-width: $lg) {
    .tile-lg-1 { width: 100% / 12 }
    .tile-lg-2 { width: 100% / 12 * 2 }
    .tile-lg-3 { width: 100% / 12 * 3 }
    .tile-lg-4 { width: 100% / 12 * 4 }
    .tile-lg-5 { width: 100% / 12 * 5 }
    .tile-lg-6 { width: 100% / 12 * 6 }
    .tile-lg-7 { width: 100% / 12 * 7 }
    .tile-lg-8 { width: 100% / 12 * 8 }
    .tile-lg-9 { width: 100% / 12 * 9 }
    .tile-lg-10 { width: 100% / 12 * 10 }
    .tile-lg-11 { width: 100% / 12 * 11 }
    .tile-lg-12 { width: 100% / 12 * 12 }
}

@media (min-width: $xl) {
    .tile-xl-1 { width: 100% / 12 }
    .tile-xl-2 { width: 100% / 12 * 2 }
    .tile-xl-3 { width: 100% / 12 * 3 }
    .tile-xl-4 { width: 100% / 12 * 4 }
    .tile-xl-5 { width: 100% / 12 * 5 }
    .tile-xl-6 { width: 100% / 12 * 6 }
    .tile-xl-7 { width: 100% / 12 * 7 }
    .tile-xl-8 { width: 100% / 12 * 8 }
    .tile-xl-9 { width: 100% / 12 * 9 }
    .tile-xl-10 { width: 100% / 12 * 10 }
    .tile-xl-11 { width: 100% / 12 * 11 }
    .tile-xl-12 { width: 100% / 12 * 12 }
}