/* Spacing & Borders */
$spacing: 20px;
$spacers: (
    025: $spacing * 0.25,
    05: $spacing * 0.5,
    075: $spacing * 0.75,
    1: $spacing,
    2: $spacing * 2,
    3: $spacing * 3,
    4: $spacing * 4,
);
$border-width: 2px;
$br: 10px;
$br-sm: calc($br * .5);
$br-lg: calc($br * 1.5);

/* Grid & Breakpoints */
$sm: 576px !default;
$md: 768px !default;
$lg: 992px !default;
$xl: 1280px !default;
$xxl: 1600px !default;

$max-grid-sm: calc($sm - map-get($spacers, 2)) !default;
$max-grid-md: calc($md - map-get($spacers, 2)) !default;
$max-grid-lg: calc($lg - map-get($spacers, 2)) !default;
$max-grid-xl: calc($xl - map-get($spacers, 2)) !default;
$max-grid-xxl: calc($xxl - map-get($spacers, 2)) !default;

/* Colors */

$red: #d91e25 !default;
$orange: #ef7521 !default;
$yellow: #f1af25 !default;
$green: #34af58 !default;
$teal: #0f889b !default;
$blue: #2478f5 !default;
$violet: #7a37dc !default;
$purple: #b138c0 !default;

$grey: #787b82 !default;
$light: #f3f3f3 !default;
$dark: #343434 !default;

/* Brand Colors */
$color1: $teal !default;
$color2: $yellow !default;
$color3: $blue !default;
$color4: $violet !default;

/* Typography */

// Add font mixin example:
// @include font("MyFontName", "/webfonts/myfontfile.ttf", "truetype", "regular")

@mixin font($fontName,$fontPath,$fontType,$fontWeight) {
    @font-face {
        font-family: $fontName;
        src: url($fontPath) format($fontType);
        font-weight: $fontWeight;
        font-display: swap;
    }
}

$font-body: 'arial', sans-serif !default;
$font-color: $grey !default;
$font-headline: 'arial', sans-serif !default;
$font-size: 14px !default;
$h1-size: 48px !default;
$h2-size: 32px !default;

// Buttons
$btn-padding-x: 1.25em !default;
$btn-padding-y: .5em !default;
$btn-font-size: $font-size !default;
$btn-border-radius: 10px !default;